html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*FOOTER*/

#footer {
  background: blue;
  background: -webkit-linear-gradient(59deg, blue, teal);
  background: linear-gradient(59deg, blue, teal);
  color: white;
  margin-top:100px;
}
.head-color{
  background: blue;
  background: -webkit-linear-gradient(59deg, blue, teal);
  background: linear-gradient(59deg, blue, teal);
}
#footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

#footer a:hover {
  color: red;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}


.section{
  width: 100%;
  height: 300px;
  padding: 50px;
  display:inline-block;
}
@media screen and (max-width:1000px){
  .section{
    height:auto;
  }
}
.section .img-container{
  float:left;
  height:100%;
  width:40%;
}
.section .img-container img{
  height:100%;
  width:100%;
}
.section .text-container{
  float:left;
  width:60%;
  padding:40px;
}
@media screen and (max-width:1000px){
  .section .img-container{
    width:90%;
  }
  .section .text-container{
    width:100%;
  }
}

/**Live button Styling **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.live-btn {
  padding: 36px 56px;
  border: none;
  border-radius: 55px 46% 50px 35%;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,77,121,1) 35%, rgba(0,212,255,1) 100%);
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  margin-top:30px;
  letter-spacing: -1px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1),
    -6px -6px 12px rgba(0, 0, 0, 0.15) inset,
    6px 6px 12px rgba(255, 255, 255, 0.4) inset, -6px -6px 12px white;
}
.live-btn :hover, :focus {
  animation: 4s liquid linear infinite;
}
@keyframes liquid {
  0% {
    border-radius: 55px 46% 50px 35%;
  }
  25% {
    border-radius: 70px 50px 25px 10%;
  }
  50% {
    border-radius: 30% 29% 45% 35px;
  }
  75% {
    border-radius: 35% 50% 40px 45%;
  }
  95% {
    border-radius: 50px 40% 47px 37%;
  }
}
